body{
    margin: 0;
    padding: 0;
    font-family: Helvetica Heye Arial sans-serif;
}
header{
    height: 22vh;
    align-items: center;
    margin: 10px auto;
    box-shadow: 0 5px 10px #efefef;;
}
.logo{
    height: 120px;
    padding: 5px 10px;
}
.social-media{
    padding-top: 50px;
}
.social-media a{
    display:inline-flex;
    width:40px;
    height: 40px;
    background:#2c3e50;
    color:white;
    margin: 0 6px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 26px;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #111;
}
.hero{
background: #efefef;
}
.main{
    overflow-x: auto;
    background: white;
    padding: 100px;
    box-shadow: 0 5px 10px #efefef;
    width:80% ;
    text-align: center;
    margin: 10px auto;
    font-family: Helvetica Heye Arial sans-serif;

}
table{
    font-family: sans-serif, Arial;
    border-collapse: collapse;
    width: 100%;

}
td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-family: Helvetica Neye  Arial sans-serif ;
    width: 10px;
    font-size: larger;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
section{
    background-image: url("https://i.postimg.cc/XqJq6Y6q/969486.jpg");
    background-position: center;
    padding: 5rem;
    align-items: center;
    align-content: center;
}
.row justify-content-center{
    display: flex;
    align-items: center;
    align-content: center;
    width: 1000px;
    margin: auto;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.4s;
    width:300px;
    background: #fff;
    text-align: center;
    font-size: 20px;
    float: left;
    margin: 10px
}
.footer{
    background: darkgray;
    padding: 40px;
}
@media only screen and (max-width: 1000px) {
    .row justify-content-center{
        width: 80%;
        padding: 0;
    }

}
.card-wrapper{
    display: flex;
    align-items: center;
    align-content:center;
    width: 1000px;
    margin: auto;
}










